
**/build
**/desktop.ini
/results
/test
/docker_scripts
/kernels/dispositions
core

/pic
/log_pic

# VSCode related
*.code-workspace
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
